@import url(../stilo.css);

body.hermans {
  color: white;
  background-image: none;
  background-color: #445;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  padding: 1ex;
}
body.hermans h1 {
  width: 100%;
}
body.hermans p,
body.hermans ul {
    background-color: transparent;
}

body.hermans p {
  text-indent: 1em;
  margin: 0;
  padding: 0;
}
body.hermans div.par {
  margin-bottom: 2ex;
}
body.hermans div.intro {
  margin-bottom: 2ex;
}
body.hermans div.intro[xml:lang=nl] {
  font-style: italic;
}
body.hermans p:first-child {
  text-indent: 0;
}
body.hermans ul {
    padding: 0;
    margin: 0;
}
body.hermans .right {
    margin-top: 1ex;
    margin-right: 0px;
}
body.hermans hr {
    color: white;
}

body.hermans span.nomo {
    text-transform: uppercase;
}

body.hermans h1 span {

}